body {
  background-color: #f2f2f2;
  background-image: url(/image/text-to-speech-software.jpg);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.heading {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
}

.button-container {
  margin-top: 20px;
}

.button {
  background-color: #4CAF50;
  color: #e6e0e0;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
